[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
responses = "*"
grequests = "*"
lxml_html_clean = "*"
typing = "*"
virtualenv = "*"
sphinx = "*"
requests-html = "*"

[dev-packages]
black = "*"
coverage = "==7.4.3"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "==4.1.0"
pytest-xdist = "*"

[requires]
python_version = "3.12"
